* {
    font-family: Helvetica, sans-serif;
}

body{
    background-color: grey;
}

h1 {
    color: white;
    font-weight: lighter;
    border: 2px solid white;
    padding: 8px;
    border-radius: 10px;
} 

h2 {
    color: #a9899b;
    font-weight: normal;
    border: 1px solid #100d0f;
    border-radius: 8px;
    padding: 15px;
    margin: 10px 10px 20px 10px;
}

h3 {
    font-weight: normal;
    font-size: 18px;
    padding-left: 30px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

header p {
    color:#2a2326;
}

nav {
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav h3 {
    padding: 10px 20px;
    font-size: 15px;
    color: white;
    background-color: grey;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
}

nav a {
    text-decoration: none;
}

nav h3:hover {
    box-shadow: 7px 7px 5px #100d0f;
    background-color: #a56f8e;
    color: white;
}

.results-container, #match-form, #addon-form, .descriptions-container, footer, .power-container {
    display: flex;
    margin: 15px 30px;
    padding: 15px 30px;
    border-radius: 10px;
    background-color: #2a2326;
    box-shadow: 15px 15px #100d0f;
}

.results-container{
    justify-content: space-around;
    font-size: 16px;
    color: white;
}

.results-container img {
    width: auto;
    height: 150px;
    flex-grow: 1;
    margin: 0px 0px;
}

/* dredge jumpscare upon hovering over img */
.results-container img:hover {
    transform: scale(2.5,2.5);
  }

#results {
    display: flex;
    font-weight: lighter;
}

#results p::first-line {
    font-size: 20px;
    line-height: 40px;
    text-decoration: underline;
    font-weight:normal;
  }

.forms-container {
    display: flex;
    flex-wrap: nowrap;
    /* align-items: flex-start */
}

label {
    color: white;
}

#match-form {
    flex-grow: 2;
    display: flex;
    justify-content: right;
    flex-direction: column;
    text-align: right;
}

.custom-number-input {
    display: flex;
    justify-content: right;
    padding: 10px 0px;
    align-items: center;
    gap: 10px;
}

.number-input {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.custom-number-input button {
    background-color: #a9899b;
    color: #2a2326;
    border: none;
    width: 30px;
    height: 28px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
    margin: 0px 5px;
    box-sizing: border-box;
}

.custom-number-input input {
    width: 30px;
    height: 28px;
    box-sizing: content-box;
    text-align: center;
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    background-color: #2a2326;
    color: white;
}

.custom-number-input button:hover {
    box-shadow: 7px 7px 5px #100d0f;
    background-color: #a56f8e;
    color: white;
}

input[type="number"]:focus {
    outline: none;
    font-weight: bold;
    background-color: #a56f8e;
    box-shadow: 5px 5px 5px #100d0f;
  }

/* Hide default arrows */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#addon-form{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: left;
}

/* adjusting the default settings for the switch borders Pretty Checkbox library */
.pretty.p-switch .state:before {
    border: 1px solid white;
}

/* adjusting default background colour and border for "checked" state of switch from Pretty Checkbox library */
.pretty.p-switch.p-fill input:checked~.state:before {
    background-color: #a9899b !important;
    border: 1px solid white;
}

#addon-form > div {
    padding: 10px;
}

.match-button button, .addon-button button {
    margin: 10px 5px;
    padding: 6px;
    width: 160px;
    height: 40px;
    font-size: 15px;
    color: black;
    background-color: #a9899b;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
}

.match-button {
    justify-content: right;
}

.addon-button {
    justify-content: left;
}

.match-button button:hover, .addon-button button:hover {
    box-shadow: 7px 7px 5px #100d0f;
    background-color: #a56f8e;
    color: white;
}

.descriptions-container {
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: lighter;
}

.descriptions-container ul {
    margin: 10px 50px;
}

table {
    padding: 10px 50px;
}

td {
    padding: 10px;
}

.descriptions-container td::first-line {
    font-weight: bold;
}

.brown-icon img{
    background-color: rgb(95, 75, 60);
}

.yellow-icon img{
    background-color: rgb(195, 164, 73)
}

table img {
    height: 60px;
    width: auto;
    border: 3px solid black;
}

footer {
    flex-direction: column;
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: lighter;
}


.power-container, .descriptions-container {
    margin-top: 20px;
}

footer a {
    color: #a9899b;
    font-size: 12px;
    font-weight: bold;
}

.power-container {
    flex-direction: column;
    color: white;
    font-weight: lighter;
    line-height: 30px;
    padding: 20px 40px;
}

.power-container p {
    margin: 0px 30px;
}