.forms-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1000px;
  gap: 10px;
}

.tooltip {
  text-decoration: none;
}

/* match details form section ------------------------------------------------------- */

#match-form {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  text-align: right;
}

@media (max-width: 700px) {
  #match-form,
  #addon-form,
  .subheading {
    align-items: center;
  }
}

#match-form .subheading {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}

.custom-number-input {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}

.number-input {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5px;
}

.custom-number-input button {
  height: 32px;
  width: 30px;
  font-family: Helvetica, sans-serif;
  background-color: #a9899b;
  border-radius: 10px;
  border: none;
  color: black;
  font-size: 14px;
  font-weight: 700;
}

.custom-number-input button:hover {
  box-shadow: 7px 7px 5px #100d0f;
  background-color: #a56f8e;
  color: white;
}

.custom-number-input input {
  height: 38px;
  width: 35px;
  background-color: #2a2326;
  color: white;
  font-weight: 700;
  text-align: center;
  border: 1px solid #d5d5d5;
  border-radius: 10px;
}

input[type="number"] {
  font-size: 20px;
}

input[type="number"]:focus {
  outline: none;
  background-color: #a56f8e;
  box-shadow: 5px 5px 5px #100d0f;
}

/* Hide default arrows */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* add-on details form section ------------------------------------------------------- */

#addon-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: left;
}

#addon-form .subheading {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.switch-line {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* results section  ----------------------------------------------------------------- */

.results-container {
  justify-items: center;
  font-size: 1.1em;
  width: auto;
  box-sizing: border-box;
  background-color: #2a2326;
}

.results h3 {
  text-decoration: underline;
  text-underline-offset: 6px;
}

.results p {
  margin: 10px 0px 0px 30px;
  line-height: 14px;
}

/* custom switches ------------------------------------------------------- */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a9899b;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #2a2326;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #a56f8e;
}

input:hover + .slider {
  box-shadow: 5px 5px 5px #100d0f;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: white;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
