@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
    background-color: rgb(67, 64, 65);
}

/* basic typeface base styles ------------------------------------------------------- */

* {
    font-family: "Comic Neue", cursive;
    color: white;
    font-weight: 300;
    font-style: normal;
}

h1 {
    border: 2px solid white;
    padding: 15px 0px;
    border-radius: 10px;
    text-align: center;
} 

h2 {
    color: #d0b4c4;
    font-weight: 700;
    font-size: 18px;
}

p, label, ul, li {
    font-size: 16px;
}

a {
    color: #d0b4c4;
    font-weight: 400;
}

.data {
    font-weight: 700;
    letter-spacing: 1px;
}

.big {
    font-size: 20px;
}

.bold {
    font-weight: 700;
}

.underline {
    text-decoration: underline;
}

/* base styles by section ------------------------------------------------------- */

.page-header {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    height: 180px;
}

.page-nav {
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav a, nav .fake-link {
    padding: 10px 20px;
    font-size: 15px;
    color: white;
    background-color: rgb(96, 96, 96);
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

nav a:hover {
    box-shadow: 7px 7px 5px #100d0f;
    background-color: #a56f8e;
}

article {
    display: flex;
    padding: 0px 40px;
    flex-direction: column;
}

button:hover {
    box-shadow: 7px 7px 5px #100d0f;
    background-color: #a56f8e;
    cursor: pointer;
}

.reset-button button {
    box-sizing: border-box;
    margin-top: 10px;
    padding: 0px 30px;
    height: 40px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    color: white;
    background-color: #a9899b;
    border: none;
    border-radius: 10px;
}

.reset-button button:hover {
    background-color: #a56f8e;
}

/* container boxes for h2 section headings */
.heading-box {
    border: 1px solid white;
    border-radius: 8px;
    padding: 0px 10px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

/* basic purple box for each section */
.box-container {
    margin: 0px 20px 15px 20px;
    padding: 15px 30px 30px 30px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: rgb(67, 64, 65);
}

footer {
    border: 2px solid white;
    padding: 8px 40px;
    border-radius: 10px;
    margin: 80px 70px 0px 70px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}

footer a {
    color: #d0b4c4;;
}

/* circle for tooltip anchor link thingy */

.circle {
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    background-color: #a9899b;
    color: black;
    text-align: center;
  }

  .circle:hover {
    box-shadow: 7px 7px 5px #100d0f;
    background-color: #a56f8e;
    color: white;
    cursor: pointer;
}

/* base styles for add-on description tables ------------------------------------------------------- */

.addon-table {
    margin: 10px 0px 10px 20px;
}

.descriptions-container td::first-line {
    font-weight: 700;
}

.brown-icon img{
    background-color: rgb(95, 75, 60);
}

.yellow-icon img{
    background-color: rgb(195, 164, 73)
}

.green-icon img{
    background-color: rgb(72, 129, 55)
}

.purple-icon img{
    background-color: rgb(109, 57, 125);
}

.pink-icon img {
    background-color: rgb(187, 46, 77)
}

.addon-table img {
    height: 60px;
    width: auto;
    border: 3px solid black;
}