header img {
    width: 150px;
    height: auto;
    margin: -10px 15px 0px 0px;
}

header img:hover {
    transform: scale(1.5,1.5);
}

.main-container {
    display: flex;
}

.results-container {
    display: flex;
    font-size: 20px;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    text-align: right;
}

.results-table td {
    padding: 10px 6px;
}

.caption {
    text-align: right;
}

.numbers {
    width: 90px;
    text-align: left;
}

#addon-form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
} 

#addon-form .heading-box {
    margin-bottom: 12px;
    height: 55px;
}

select {
    color: white;
    background-color: #a9899b;
    width: auto;
    height: 45px;
    padding-left: 5px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 700;
    font-size: 16px;
    border-radius: 10px;
}

.reset-button {
    margin-left: 20px;
}

.descriptions-container {
    display: flex;
    flex-direction: column;
}

.note {
    margin-left: 40px;
    margin-right: 40px;
    font-weight: 500;
}