nav .fake-link {
    cursor: auto;
}

nav a, nav .fake-link {
    font-size: 20px;
    border: 1px solid white;
    border-radius: 10px;
}

.home-header {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

h1 {
    padding: 15px 40px;
}

.home-nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

footer {
    position: absolute;
    width: 70%;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0px;
}