.results-container{
    justify-content: center;
    gap: 80px;
}

.results-container img {
    width: auto;
    height: 150px;
    flex-grow: 1;
    margin: 0px 0px;
}

/* dredge jumpscare upon hovering over img */
.results-container img:hover {
    transform: scale(1.5,1.5);
  }

#results p::first-line {
    font-size: 20px;
    line-height: 40px;
    text-decoration: underline;
    font-weight: 400;
  }

.forms-container {
    display: flex;
    flex-wrap: wrap;
}

.match-button button, .addon-button button {
    box-sizing: border-box;
    margin-top: 10px;
    padding: 0px 30px;
    height: 40px;
    font-size: 20px;
    font-weight: 300;
    color: black;
    background-color: #a9899b;
    border: none;
    border-radius: 4px;
}

.match-button button:hover, .addon-button button:hover {
    background-color: #a56f8e;
    color: white;
}

/* match details form section ------------------------------------------------------- */

#match-form {
    flex-grow: 1;
    flex-direction: column;
    text-align: right;
}

#match-form .heading-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.heading-box a {
    text-decoration: none;
}

.custom-number-input {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 16px;
    gap: 10px;
}

.number-input {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5px;
}

.custom-number-input button {
    height: 32px;
    width: 30px;
    font-family: Helvetica, sans-serif;
    background-color: #a9899b;
    border-radius: 10px;
    border: none;
    color: black;
    font-size: 14px;
    font-weight: 700;
}

.custom-number-input button:hover {
    box-shadow: 7px 7px 5px #100d0f;
    background-color: #a56f8e;
    color: white;
}

.custom-number-input input {
    height: 38px;
    width: 35px;
    background-color: #2a2326;
    color: white;
    font-weight: 700;
    text-align: center;
    border: 1px solid #d5d5d5;
    border-radius: 10px;
}

input[type="number"]:focus {
    outline: none;
    background-color: #a56f8e;
    box-shadow: 5px 5px 5px #100d0f;
  }

/* Hide default arrows */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* add-on details form section ------------------------------------------------------- */

#addon-form {
    flex-direction: column;
    flex-grow: 1;
    text-align: left;
}

.switch-line {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: -12px;
}

/* adjusting the default settings for the 
switch borders Pretty Checkbox library */
.pretty.p-switch .state:before {
    border: 1px solid white;
}

/* adjusting default background colour and border 
for "checked" state of switch from Pretty Checkbox library */
.pretty.p-switch.p-fill input:checked~.state:before {
    background-color: #a9899b !important;
    border: 1px solid white;
}

/* about nightfall charges section ------------------------------------------------------- */

.about-calculator {
    display: flex;
    flex-direction: column;
}

.about-calculator .heading-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.descriptions-container {
    flex-direction: column;
}

.note {
    font-size: 14px;
    margin-left: -30px;
    list-style-type: none;
}

.addon-table {
    margin: 10px 0px 10px 20px;
}

.descriptions-container td::first-line {
    font-weight: 700;
}

.brown-icon img{
    background-color: rgb(95, 75, 60);
}

.yellow-icon img{
    background-color: rgb(195, 164, 73)
}

.addon-table img {
    height: 60px;
    width: auto;
    border: 3px solid black;
}
