.onryo-h1 {
  font-size: 0.8em;
}

.add-ons {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-top: 80px;
  padding-bottom: 60px;
  box-sizing: border-box;
  width: 90%;
  min-width: 460px;
  max-width: 700px;
}

.switch-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 6px;
  margin: 0px;
}

.switch-box p {
  margin-top: 5px;
}

.graphs-container {
  align-items: center;
  border-radius: 10px;
  border: 2px solid white;
  width: 100%;
  min-width: 700px;
  height: fit-content;
}

#canvas-container {
  margin: 0px auto;
  width: fit-content;
}

@media (max-width: 740px) {
  .graphs-container {
    border-color: transparent;
  }
}

.article-container {
  width: 90%;
  min-width: 500px;
  align-self: center;
  max-width: 700px;
  margin: 0px auto;
}

.article-body {
  width: 90%;
}

/* custom switches ------------------------------------------------------- */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a9899b;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #2a2326;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #a56f8e;
}

input:hover + .slider {
  box-shadow: 5px 5px 5px #100d0f;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: white;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
