
.power-container {
    flex-direction: column;
}


.list-power li {
    list-style-type: none;
    margin-bottom: 20px;
    line-height: 20px;
}

.list-power-second-level li {
    list-style-type: disc;
}

.source {
    font-size: 14px;
    color: white;
    margin-left: 30px;
    font-weight: 300;
}

h2 a {
    color: #a56f8e;
}